<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const exist='<%=exists%>'
        const correct='<%=correct%>'
        if (exist.toString()=='false'){
            alert("Username doesn't exist.")
            window.location.href='http://192.168.0.6:3000/login'
        }else if (exist.toString()=='true'){
            if (correct.toString()=='true'){
                const datetime=new Date()
                datetime.setTime(datetime.getTime()+21600000)
                document.cookie=`key=<%=key%>; expires=${datetime.toUTCString()}`
                window.location.href='http://192.168.0.6:3000/dashboard'
            }else{
                alert('Wrong Password')
                window.location.href='http://192.168.0.6:3000/login'
            }
            
        }
    </script>
</body>
</html>